*{margin: 0px; padding: 0px; box-sizing: border-box;}

.container{
    margin: 0; height: 100vh; display: flex; width: 100%;
    overflow: hidden; position: relative; justify-content: center;
}  
.nav{
    position: absolute; margin-top: 15px;
    height: 7%; width: 100%; 
    background-image: linear-gradient(to right, #fbc500, #f9ce47, #fee8a1, #f8f4e5, #f7f5f0, #ffffff);   
}

.logo{
    height: 100px; width: 100px; float: left;
    margin-left: 20px; margin-top: -20px; 
    background-image: url('../image/logo.png'); 
}
a{
    height: 100%; width: 120px; float: left; margin-left: 20px;
    text-align: center; justify-content: center; 
    align-items: center; display: flex; 
    color: black;
    font-weight: bold; text-decoration: none;
    transition: all 0.5s;
}
a:hover{background: black; color: white; transform: scale(1.2);}


.main{
    height: 90vh; width: 100%;
    margin-top: 80px; justify-content: center;
    text-align: center; display: flex;
    align-items:center;
}
.subdiv{
    height: 40%; width: 35%;
}
span{
    color: rgba(255, 196, 0, 0.959);
    display: flex; 
    font-size: 60px; font-weight: bold;
    justify-content: center; font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 20px; margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
i{padding-left: 10px;}

[type="text"],[type="email"],textarea{
    height: 30px; width: 80%; margin: 5px 10%;
    border: none; border-bottom: 3px solid rgba(255, 196, 0, 0.959);
}
[type="text"],[type="email"],textarea:focus{
    outline: none;
} 
button{height: 30px; width: 20%; margin: 5px 10%;
    float: right; border: 2px solid rgba(255, 196, 0, 0.959);
    background:  rgba(255, 196, 0, 0.959) ;border-radius: 10px;
}
